@import "variables.scss";

// a {
//   color: $violet-2;
// }

a.out,
.content a,
.ProseMirror a {
  text-decoration: underline;
  text-decoration-color: #ed8d07;
  text-decoration-thickness: 2px;
}

// input.input {
//   border-color: $input-border-color !important;
// }

.section {
  padding: 1rem 1% 4rem;
}

figure img.is-rounded {
  border: 1px solid #cdcaea;
}

$color-black: #000;

.mention {
  background: rgba($color-black, 0.1);
  color: rgba($color-black, 0.6);
  font-size: 0.9rem;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.2rem;
  white-space: nowrap;
  margin-right: 0.2rem;
}

.mention-suggestion {
  color: rgba($color-black, 0.6);
}

.mention .mention {
  background: initial;
  margin-right: 0;
}

.select select {
  border-color: $borders;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

body {
  // background: #f7f8fa;
  background: $body-background-color;
  font-family: BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, "Segoe UI",
    "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

  /*main {*/
  /*  margin: 1rem auto 0;*/
  /*}*/
}

#mobilizon > .container > .message {
  margin: 1rem auto auto;
  .message-header {
    button.delete {
      background: #4a4a4a;
    }
  }
}

.module-description {
  margin-bottom: 2rem;
  color: $violet-1;
}
